body {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    width: 80%;
    height: 120px;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
}
#header-container {
    background-color: white;
    border-bottom: 30px solid #DDDDDD;
}
#name {
    height: 100%;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
}
h1 {
    padding: 10px;
    margin-top: 30px;
}
#links {
    float: right;
    margin-top: 50px;
}
a {
    text-decoration: none;
    margin: 0 20px;
}
a:visited {
    color: #777777;
}
h2 {
    margin: 10px;
    color: #4AAAA5;
}
section {
    width: 100%;
    height: 500px;
    clear: both;
    background-color: #DDDDDD;
}
article {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    line-height: 24px;
    border: 1px solid #dddddd;
    font-size: 16px;

}
img {
    width:100px;
    height:150px;
    float: left;
    padding: 5px;
  }
  hr {
      width: 95%;
  }
  footer {
      height: 71px;
      width: 100%;
      border-top: ;
      background-color: #666666;
      border-top: 5px solid #4aaaa5;
  }
  p {
      color: #777777;
      padding: 10px;
      margin: 0;
  }
  #name-input {
      margin-left: 10px;
      width: 90%;
      padding: 5px;
  }
  #e-mail {
    margin-left: 10px;
    width: 90%;
    padding: 5px;
  }
  textarea {
    margin-left: 10px;
    width: 90%;
    padding: 5px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  }
  button {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 70px;
    background-color: #4aaaa5;
    color: white;
    border: none;
  }