#main {
    background-color: green;
    margin-top: 20px;
}
#picture {
    width: 20%;
    height: 20%;
    border-radius: 5px;
    margin: 10px 10px 0 0;
}
.jumbotron {
    overflow: auto;
}
.image {
    width: 500px;
    height: 325px;
}